/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('parede\ preta.png');
}
/*navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px; /* Ajuste o valor conforme necessário */
    padding: 15px 20px 15px 40px; /* Aumente o padding à esquerda */
    background:  #ececec;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    height: 55px; /* Defina uma altura fixa para a navbar */
    position: relative; /* Permite posicionar a logo de forma absoluta dentro da navbar */
} 
.navbar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
} 
.logo {
    position: relative;
    top: 30px; /* Ajuste o valor conforme necessário */
    left: 12px; /* Ajuste o valor conforme necessário */
}

.logo img {
    width: 150px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease-in-out;
}
.logo img:hover {
    transform: scale(1.1); /* Aumenta 10% ao passar o mouse */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}
.nav-links:hover {
    transform: scale(1.1); /* Aumenta 10% ao passar o mouse */ 
}
.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-links a:hover {
    color: #cabd28;
}

.nav-button {
    background: #cabd28;
    color: #ffffff;
    padding: 13px 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.nav-button:hover {
    background: #d6c933;
    transform: scale(1.1); /* Aumenta 10% ao passar o mouse */
}


.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.filters select {
    padding: 10px;
    font-size: 16px;
    width: 18%;
}

.driver-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.driver {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.driver-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.driver-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.driver h2 {
    margin: 0;
    color: #333;
}

.driver p {
    margin: 5px 0;
    color: #666;
}


/* Footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

footer h4 {
    font-size: 1.6em;
    margin-bottom: 15px;
    font-weight: bold;
}

footer h5 {
    font-size: 1.2em;
    color: #bbb;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 10px 10px;
    position: relative;
}

footer ul li .hover-text {
    position: absolute;
    bottom: 25px; /* Ajusta a distância abaixo do link */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Escondido por padrão */
    white-space: nowrap;
}

footer ul li:hover .hover-text {
    display: block; /* Aparece ao passar o mouse */
}
footer ul li a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: rgb(197, 197, 8);
}

footer #about-logo {
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
footer #about-logo:hover {
    transform: scale(1.1); /* Aumenta 10% ao passar o mouse */
}


footer #social ul {
    margin-top: 20px;
}

footer #social ul li {
    display: inline-block;
    margin: 0 10px;
}

footer #social ul li a {
    color: #fff;
    font-size: 1.5em;
}

footer #social ul li a:hover {
    color: rgb(197, 197, 8);
}